@using Microsoft.AspNetCore.Identity
@model (List<IdentityRole> lstRoles, List<Identity> lstUsers)

@using (Html.BeginForm("EditUsers", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-12 mt-3 form-group">
                @Html.ValidationSummary("","Summary")
            </div>
            <div class="col-md-6 mt-3 form-group">
                @Html.DropDownList("Users", new SelectList(Model.lstUsers, "Id", "UserName"), "Choose", htmlAttributes: new { @class = "form-control" })
            </div>

            <div class="col-md-6 mt-3">
                @Html.DropDownList("Roles", new SelectList(Model.lstRoles, "Id", "Name"), "Choose", htmlAttributes: new { @class = "form-control" })
            </div>


        </div>
        <button type="submit" class="btn btn-primary mt-3"> submit</button>
    </div>
}